TASK_DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/tasking_manager
OSM_DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/osm
TDEI_BACKEND_URL=https://portal-api-dev.tdei.us/api/v1/
TDEI_OIDC_URL=https://account-dev.tdei.us/
TDEI_OIDC_REALM=tdei
JWT_SECRET=your-secret-key
